node_modules/

*.exe
*.exe~
*.tar
*.tar.gz
*.img
*.img.gz
*.log
main

extracted/
*.npk

*_mariadb_*.db
*_mariadb_*.sql
*_migrated.db
converted_sqlite.sql

_data_backup/
data/radius_db/
data/*.db*
data/*.json
data_test/
releases/
.freebuff/
.kilo/
sas4_export.xlsx
sas4_probe/
sasman-central.tar.gz
